body {
  background: var(--back-background-main);
}

.erro_400 {
  background: #7dd4ff;
}

.erro_403 {
  background: #3aaaff;
}

.erro_449 {
  background: #d9cfcc;
}

.erro_404 {
  background: #c6c5ff;
}

.Coming {
  background: #cdeeff;
}

.manutenção {
  background: #ffd1eb;
}

.erro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    margin: 50px 0 5px;
    font-size: 4em;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 2px 2px 10px var(--sha-shadow-black);
  }

  p {
    margin: 0 0 50px;
    width: 450px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 26px;
    text-align: center;
    text-shadow: 2px 2px 20px var(--de-detail-purple-sha-shadow);
    color: var(--de-detail-orange);
  }

  .erro img {
    width: 350px;
    height: max-content;
    animation: UpinDown 10s ease infinite;
  }

  .erro a {
    padding: 15px 25px;
    border: 0;
    border-radius: 100px;
    position: absolute;
    bottom: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: var(--back-background-main);
    box-shadow: 2px 2px 20px var(--de-detail-purple-sha-shadow);
    background: var(--font);
    transition: 500ms ease;
    cursor: pointer;
  }

  .erro a:hover {
    transform: translateY(-20px);
  }
}

.erro_404 .erro img,
.Coming .erro img,
.manutenção .erro img {
  animation: none;
}

@keyframes UpinDown {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(20px);
  }

  75% {
    transform: translateY(-20px);
  }
}
