@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
  color: var(--font);
}

:root {
  /* Colors */
  --back-background-main: #05061e;
  --back-background-menu: #05061e8d;
  --font: #ffffff;
  --font-detail: #f3f3f3;
  --de-detail-orange: #ff3d20;
  --de-detail-green: #29f247;
  --de-detail-green-sha-shadow: #29f2473f;
  --de-detail-purple: #4b0072;
  --de-detail-purple-sha-shadow: #4a007276;
  --sha-shadow-black: rgba(0, 0, 0, 0.5);
  --sha-shadow-black-menu: rgba(0, 0, 0, 0.25);
  --sha-shadow-white: rgba(255, 255, 255, 0.5);

  /* Sizes */
  --fo-font-main: 1em; /**/
  --fo-font-asidebar: 0.875em; /**/
  --fo-font-detail: 0.625em; /**/
  --fo-font-main-detail: 1.125em; /**/
  --fo-font-main-title: 1.25em; /**/

  /* Background & Gradients */
  --background-gradient-parallax: linear-gradient(
    to top,
    var(--back-background-main) 15%,
    rgba(255, 255, 255, 0)
  );
  --background-gradient-parallax-footer-page-purple: linear-gradient(
    to top,
    var(--de-detail-purple-sha-shadow) 1%,
    rgba(255, 255, 255, 0)
  );
  --background-gradient-parallax-footer-page-green: linear-gradient(
    to top,
    var(--de-detail-green-sha-shadow) 1%,
    rgba(255, 255, 255, 0)
  );

  /* Size Images */
  --size-img-disco: 210px;
}
