
.sidebar {
    border-radius: 10px;
    margin: 10px;
    position: fixed;
    left: 0;
    top: 0;
    height: 80%;
    width: 78px;
    background: var(--background-details-shadow);
    backdrop-filter: blur(10px);
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}


.sidebar .logo-details .logo_name {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 20px;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_img {
    opacity: 0;
    width: 40px;
    transition: all 0.5s ease;
    animation: upInDown 5s ease infinite;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: #ffffff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 10px;
    height: 100%;
}

.sidebar .nav_hr {
    margin: 1rem 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    border: 1px solid var(--details-shadow);
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 1rem);
    z-index: 3;
    background: #ffffff;
    color: var(--primary);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar.open .bx-search:hover {
    color: var(--details);
}

.sidebar .bx-search:hover,
.sidebar .bx-plus:hover,
.sidebar .bx-heart:hover {
    color: var(--details);
}

.sidebar.open .bx-plus,
.sidebar.open .bx-heart {
    background: none;
    transition: 500ms;
}

.sidebar li.exit {
    position: absolute;
    bottom: 10px;
    width: 50px;
}

.sidebar.open li.exit {
    width: 90%;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar li a:hover {
    background: #ffffff;
}

.sidebar li a .links_name {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: var(--details);
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

/* Menu phone width*/

.menu-min-width {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 120;
    width: 100%;
    height: 80px;
    justify-content: space-evenly;
    place-items: center;
    background: var(--background-details);
}

.menu-min-width .menu-categore {
    width: 70px;
    text-align: center;
}

.menu-min-width .menu-categore a {
    text-decoration: none;
}

.menu-min-width .menu-categore i.bx,
.menu-min-width .menu-categore svg {
    width: 2rem;
    color: var(--font-all);
    fill: var(--font-all);
}

.menu-min-width .menu-categore h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
}

/* Media */

@media screen and (max-width: 769px) {
    .sidebar.open {
        width: 150px;
    }

    .sidebar li a .links_name {
        font-size: 12px;
    }
}

@media screen and (max-width: 426px) {
    .section-header {
        left: 0;
        width: 100%;
    }

    .section-header #logo {
        margin-left: 10px;
        font-size: 2em;
    }

    .header-list {
        display: none;
    }

    .sidebar,
    .sidebar.open {
        display: none;
    }

    .sidebar li .tooltip {
        display: none;
    }

    .menu-min-width {
        display: flex;
    }
}