/*
 * Page: Home Page
 * UTA - Matheus 08/09
 * código documentado conforme html
 */

body {
    background: linear-gradient(to bottom, var(--background-all) 80%, var(--background-smoke));
}

/* Background Parallax Image*/

.back-image {
    margin: 0 auto;
    display: block;
}

section.module.parallax {
    display: flex;
    flex-direction: column;
    height: 75vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;

    background: #d9d9d9 url("") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    animation: fadeIn 800ms ease;
}

section.module.parallax::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to top, var(--background-all), rgba(0, 0, 0, 0.552) 12%);
}

/* Main iformations 'main content' */
/* ! camadas a partir da '11' */

.section-main {
    position: relative;
    left: 78px;
    top: 40%;
    width: calc(100% - 78px);
    z-index: 11;
    transition: all 0.5s ease;
}

.sidebar.open~.back-image .section-main {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
}

section.section-main .containner_text {
    margin-left: 50px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
}

section.section-main .containner_text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15em;
    letter-spacing: 1px;
}

section.section-main .containner_text h1#nameArtist {
    font-size: 100px;
    letter-spacing: 5px;
    line-height: normal;
    text-shadow: 0 0 10px var(--primary), 0 0 40px var(--primary-shadow);
}

section.section-main .containner_text .next_song {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

section.section-main .containner_text .next_song button {
    display: flex;
    justify-content: center;
    align-items: center;

    --size: 50px;
    width: var(--size);
    height: var(--size);
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--primary), 0 0 50px var(--primary-shadow);
    cursor: pointer;
}

section.section-main .containner_text .next_song button i.bx{
    font-size: 42px;
    color: var(--primary);
    text-shadow: 0 0 10px var(--primary), 0 0 50px var(--primary-shadow);
    line-height: 0;
}

section.section-main .containner_text .next_song .next_song_info h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 1px;
    color: var(--primary);
}

section.section-main .containner_text .next_song .next_song_info h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 1px;
}

/* Main */

.home-section {
    margin-top: 24px;
    position: relative;
    left: 78px;
    width: calc(100% - 78px);
    z-index: 11;
    transition: all 0.5s ease;
}

.sidebar.open~.home-section {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
}

.containner-main {
    margin-left: 53px;
}

.name-opitions h3 {
    font-size: 2em;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 2.5px;
    text-transform: capitalize;
    color: var(--terciary);
}

.name-opitions hr {
    max-width: 225px;
    height: 3px;
    border: 1px solid var(--terciary);
    border-radius: 0 10px 10px 0;
    background: var(--terciary);
}

.wrapper {
    max-height: 230px;
    margin: 20px 0 25px;
    display: flex;
    align-self: center;
    place-content: left;
    position: relative;
}

.wrapper i {
    position: absolute;
    z-index: 20;
    top: 50%;
    transform: translateY(-50%);
    height: 35px;
    width: 35px;
    color: var(--primary);
    cursor: pointer;
    font-size: 1.15rem;
    text-align: center;
    line-height: 35px;
    background: var(--secondary-dark-shadow);
    border-radius: 50%;
    transition: transform 0.1s linear;
    transition: 250ms;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
    background: #f2f2f2;
}

.wrapper i:first-child {
    left: -22px;
    display: none;
}

.wrapper i:last-child {
    right: 22px;
}

.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: max-content;
    object-fit: cover;
    margin-left: 14px;
    width: 200px;
}

.carousel img:first-child {
    margin-left: 0px;
}

.carousel button {
    --size: 200px;
    max-width: var(--size);
    max-height: var(--size);
    margin: 0 10px;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    background: none;
    transition: 250ms;
}

.songButton {
    --size: 200px;
    max-width: var(--size);
    max-height: var(--size);
    border-radius: 10px;
    box-shadow: 0 0 8px var(--details-shadow);
    transition: 100ms;
}

.songButton:hover {
    box-shadow: 0 0 10px var(--primary-light);
    transition: 250ms;
}

button .songButton:active {
    box-shadow: 0 0 10px var(--de-detail-purple), 0 0 20px var(--de-detail-orange);
}

/* Animations da main */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes giveMeDown {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}

@keyframes downDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

@keyframes rightToLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
        filter: blur(4px);
    }

    100% {
        opacity: 100;
        transform: translateX(0);
        filter: blur(0);
    }
}

@keyframes bluBlur {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

/* footer */

section.module.parallax-2 {
    max-height: 150px !important;
    width: 100%;
}

section.module.parallax-2 {
    background: var(--background-gradient-parallax-footer-page-purple);
}

section.module.parallax-2::after {
    content: none;
}

@media screen and (max-width:1025px) {

    .carousel button,
    .songButton {
        --size: 180px;
        max-width: var(--size);
        max-height: var(--size);
    }
}

@media screen and (max-width:769px) {
    section.module.parallax {
        height: 70vh !important;
    }

    .sidebar.open~.back-image .section-main,
    .sidebar.open~.home-section {
        left: 150px;
        width: calc(100% - 150px);
    }

    .containner_text {
        top: 50%;
        transform: translateY(-50%);
    }

    .containner_text h1 {
        font-size: 5rem;
    }

    .name-opitions h3 {
        font-size: 1.15em;
    }

    .carousel button,
    .songButton {
        --size: 180px;
        max-width: var(--size);
        max-height: var(--size);
    }
}

@media screen and (max-width:426px) {
    .containner-main {
        margin: 1.5rem;
    }
    
    .section-main {
        left: 50%;
        transform: translateX(-50%);
    }
    
    .sidebar.open~.back-image .section-main,
    .sidebar.open~.home-section {
        left: 0;
        width: 100%;
    }

    .containner_text {
        margin: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .home-section {
        margin: 20px 0;
        width: 100%;
        left: 0;
    }

    .name-opitions h3 {
        font-size: 1em;
    }

    .name-opitions hr {
        width: 150px;
    }

    .carousel button,
    .songButton {
        --size: 150px;
        max-width: var(--size);
        max-height: var(--size);
    }
}