header {
    width: 100%;
    height: 60px;
    z-index: 10;
}

.containner_header {
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin-left: 280px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 34px;
    color: var(--font);
    transition: 0.8s;
    cursor: pointer;

    background:
        linear-gradient(to right, rgba(255, 255, 255, 0), rgba(100, 200, 200, 0)),
        linear-gradient(to right, var(--de-detail-green), var(--de-detail-green));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 70%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;

    /* @param background - linha abaixo da logo para :hover para clique*/ 

    text-shadow: 2px 0 2px var(--sha-shadow-black);
    animation: fadeIn 1s ease;
    transition: 0.5s;
}

#logo:hover,
#logo:focus {
    color: var(--de-detail-green);
    background-size: 0 0.1em, 100% 0.1em;
    transition: 0.3s;
}

.menu a {
    margin-right: 25px;
    font-size: 16px;
    text-decoration: none;
}

.menu-icon {
    margin-left: 16px;
    color: var(--font);
    filter: drop-shadow(0 0 10px var(--sha-shadow-white));
    animation: fadeIn 1s ease;
    transition: 0.8s;
}

.menu-icon:hover {
    color: var(--de-detail-green);
    text-shadow: 0 0 10px var(--sha-shadow-white), 0 0 50px var(--de-detail-green);
    transition: 0.5s;
}


/* Menu lateral */
aside {
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    z-index: 15;
    position:fixed;
    max-width: 225px;
    height: 80%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    background: var(--back-background-menu);
    backdrop-filter: blur(10px);
}

.containner_opc {
    margin: 10px 10px;
    padding: 15px 10px;
    border: 0;
    border-radius: 10px;
    background: var(--sha-shadow-black-menu);
    backdrop-filter: blur(10px);
}

.containner_opc a{
    margin: 5px auto;
    padding: 8px 10px;
    border-radius: 20px;
    font-size:20px;
    display: list-item;
    justify-content: start;
    list-style: none;
    text-decoration: none;
    transition: 0.5s;
}

.containner_opc a i.fi-ss-home:hover, .containner_opc a i.fi-ss-user:hover{
    color: var(--de-detail-green);
    transition: 0.3s
}

.containner_opc a i.fi-ss-home::after{
    content: 'home';
    margin:auto 8px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 4px;
    text-shadow: none;
}

.containner_opc a i.fi-ss-user::after{
    content: 'user';
    margin:auto 8px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 4px;
    text-shadow: none;
}

.containner_playlist{
    position: relative;
    height: 70%;
    margin: 10px 10px;
    padding: 15px 10px;
    border: 0;
    border-radius: 10px;
    background: var(--sha-shadow-black-menu);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.child_play, .child_podc{
    margin: 20px auto;
    padding: 8px 10px;
    border-radius: 10px;
    font-size:20px;
    font-weight: 500;
    text-align: center;
    background: var(--sha-shadow-black-menu);
}

.child_play::before, .child_podc::before{
    content: '+';
    display: inline;
    margin: 0 5px;
}

/* Media */

@media screen and (max-width: 1024px){
    aside{
        width: 200px;
    }
    
    .containner_opc a{
        font-size: 16px;
    }
}

@media screen and (max-width: 768px){
    aside{
        max-width: 180px;
        height: max-content;
    }

    .containner_opc a, .child_play, .child_podc{
        font-size: 14px;
    }

    #logo{
        margin-left: 200px;
    }
}

@media screen and (max-width: 500px){
    aside{
        display: none;
    }

    #logo{
        margin-left: 10px;
    }
}