/* Player */

.containner_player {
    margin: 0;
    padding: 10px;
    z-index: 12;
    position: fixed;
    bottom: 25px;
    width: 100%;
    height: 100px;
}

.player {
    z-index: 40;
    margin: 5px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--de-detail-purple-sha-shadow);
    backdrop-filter: blur(10px);
}

.player_image {
    margin: 0 10px;
}

.player_image #imgSong {
    border: 0;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    max-width: 60px;
    max-height: 60px;
    box-shadow: 0 0 5px var(--sha-shadow-white), 0 0 20px var(--de-detail-orange);
}

.player_infoMusic {
    margin: 0 5px;
    width: 100%;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.player_infoMusic #musicName {
    font-size: 1.5em;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.player_infoMusic #artistName {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.725em;
    text-transform: capitalize;
    color: var(--de-detail-green);
}

#artistName:hover,
#musicName:hover {
    text-decoration: 1.5px underline var(--de-detail-green);
}

#heartMusic,
#randomPlayerMusic {
    margin: 0 20px;
    border: 0;
    background: transparent;
    font-size: 1.2em;
    cursor: pointer;
}

.fi-sr-heart,
.fi-ss-shuffle {
    text-shadow: 0 0 10px var(--sha-shadow-white), 0 0 25px var(--de-detail-orange);
    color: var(--de-detail-orange);
    transition: 750ms ease;
}

/* Controls */

.controls {
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px;
    background: var(--sha-shadow-black-menu);
}

.controls button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.controls i {
    margin: 0 5px;
    font-size: 28px;
    padding: 5px;
    border-radius: 50%;
    background-color: transparent;
    transition: all .2s;
}

.controls i:hover {
    color: var(--de-detail-green);
    background: var(--sha-shadow-black);
}

.controls i.bx-caret-right {
    color: var(--de-detail-orange);
    background: var(--sha-shadow-black);
}

.controls i.bx-caret-right:hover {
    color: var(--font-detail);
}

/* Timecode player */

.time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time span {
    margin: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    color: var(--font);
    text-shadow: 0 0 10px var(--sha-shadow-white);
}

.footer {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}

#currentTime {
    margin: 10px 0;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
}

.timecode_player {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.progress-bar {
    width: 80%;
    height: 8px;
    background: var(--de-detail-purple);
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: 150ms;
}

.progress-bar:hover {
    background: var(--sha-shadow-black-menu);
}

.progress {
    height: 8px;
    background: var(--de-detail-green);
    border-radius: 15px;
    transition: 150ms;
}

.progress:hover {
    background: var(--de-detail-orange);
}

#duration {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6em;
    letter-spacing: 1px;
    color: var(--font-detail);
}

/* Container more options */

.containner_more {
    max-width: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container_volume {
    display: flex;
    align-self: center;
}

/* Range volume*/

#volumeButton {
    margin: 0 10px;
    border: 0;
    font-size: 1.2em;
    background: transparent;
    cursor: pointer;
    transition: 500ms;
}

.fi-ss-volume-mute {
    color: var(--sha-shadow-white);
    transition: 500ms;
}

.volume-button:hover .tooltip-volume_control {
    opacity: 1;
    transition: all 0.4s ease;
    top: -100%;
    transform: translateY(100%);
    pointer-events: all;
}

.volume-button:hover .tooltip-volume_control,
.volume-button:active .tooltip-volume_control {
    opacity: 1;
}

#volumeButton:hover .fi-ss-volume {
    color: var(--de-detail-green);
}

.tooltip-volume_control {
    background: var(--de-detail-purple-sha-shadow);
    height: calc(100% - 100px);
    width: calc(100% + 5px);
    opacity: 0;
    position: absolute;
    left: calc(100% - 370px);
    top: -30px;
    white-space: nowrap;
    pointer-events: visible;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
    rotate: 90deg;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

input[type="range"]:focus {
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background: var(--de-detail-purple-sha-shadow);
    box-shadow: 0 0 2px var(--sha-shadow-white), 0 0 20px var(--sha-shadow-black);
    border-radius: 0.3rem;
    height: 0.3rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -4px;
    background-color: var(--de-detail-purple);
    border-radius: 0.5rem;
    height: 0.8rem;
    width: 0.8rem;
}

input[type="range"]::-webkit-slider-runnable-track:hover {
    margin-top: -2px;
    height: 0.5rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
    background: var(--sha-shadow-black);
    border-radius: 0.3rem;
    height: 0.3rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    background-color: var(--de-detail-green);
    border: none;
    border-radius: 0.5rem;
}

/* Others options */

.fi-ss-speakers,
.fi-rr-menu-burger {
    cursor: pointer;
    transition: 200ms;
}

.fi-ss-speakers:hover,
.fi-rr-menu-burger:hover,
#fullScreen .fi-rr-angle-up:hover {
    color: var(--de-detail-green);
    transition: 750ms;
}

/*Next Songs*/
.container_faixas {
    display: block;
}

.container_faixas.close{
    display: none;
}

.container_faixas.open .container_faixas_detalhes {
    padding: 10px;
    border-radius: 10px;

    position: absolute;
    top: -240px;
    right: 0;
    max-width: 200px;
    width: 100%;
    height: max-content;

    background: var(--de-detail-purple-sha-shadow);
    backdrop-filter: blur(10px);
    visibility: hidden;
}

.container_faixas_detalhes li {
    margin: 10px 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    text-transform: capitalize;
    list-style-type: circle;
    color: var(--font);
}

.container_faixas:hover .container_faixas_detalhes {
    visibility: visible;
}

/*Fullscreen*/

#fullScreen {
    border: 0;
    font-size: 16px;
    background: none;
    transition: 750ms;
    cursor: pointer;
}

/* Animations */

@keyframes upInDownMusic {
    0% {
        text-shadow: 0 0 10px var(--sha-shadow-white);
    }

    100% {
        text-shadow: 0 0 10px var(--sha-shadow-white), 0 0 25px var(--sha-shadow-white);
    }

}

/* Media */

@media screen and (max-width: 800px) {
    input[type="range"] {
        display: none;
    }

    .controls i {
        font-size: 20px;
    }
}

@media screen and (max-width: 425) {}