body {
    background: var(--back-background-main);
}

/* Background Parallax Image*/

.back-image {
    margin: 0 auto;
    display: block;
}

section.module.parallax {
    display: flex;
    flex-direction: column;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;

    background: url("https://wallpaperaccess.com/full/3763154.jpg") no-repeat;
    background-size: cover;
    animation: fadeIn 800ms ease;
}

section.module.parallax::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to top, var(--back-background-main), rgba(0, 0, 0, 0.25) 85%);
}

/* Main iformations 'main content' */
/* ! camadas a partir da '11' */

main.containner_content {
    z-index: 11;
}

.containner_text {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-30%, -30%);
}

.containner_text h1 {
    margin: 25px 0;
    font-size: 5em;
    letter-spacing: 5px;
    line-height: 60px;
    text-shadow: 0 2px 2px var(--sha-shadow-black);
    color: var(--de-detail-orange);
}

.containner_text button {
    padding: 10px 25px;
    border: 2px solid var(--font);
    border-radius: 100px;

    font-size: 1.25em;
    background: none;
    cursor: pointer;
    color: var(--font);
    box-shadow: 0 2px 2px var(--sha-shadow-black);
    animation: downDown 500ms ease;
    transition: 0.8s;
}

.containner_text button:hover {
    color: var(--font);
    background: var(--de-detail-green);
    border-color: var(--de-detail-green);
    box-shadow: 0 0 2px var(--de-detail-green), 0 0 40px var(--de-detail-green);
    transition: 0.4s ease;
}

.container_info_right {
    margin: 10px 25px;
    max-width: 350px;
    float: right;
}

.container_text_about {
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background: var(--sha-shadow-black);
    backdrop-filter: blur(10px);
}

.container_text_about h3 {
    margin: 10px 0;
    letter-spacing: 2px;
    color: var(--de-detail-orange);
}

.container_text_about p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.container_text_numbers {
    margin-top: 250px;
}

.seguidores,
.ouvintes {
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: right;
}

/* Main */

/*  *Seleção de por categoria 
    código feito por: Mikael Ainalem
    url: https://codepen.io/ainalem/pen/JxEqzW
*/

.container_options_artist {
    margin: 50px auto;
    align-items: center;
    display: flex;
    height: 160px;
    justify-content: center;
    position: relative;
    width: 360px;
}

.bar {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 32px;
    left: 0;
    padding: 0 21px;
    position: absolute;
    width: 100%;
    font-size: 18px;
    letter-spacing: 1px;
}

.bar-purple {
    background: var(--de-detail-orange);
    color: var(--font);
    clip-path: polygon(360px 0,
            360px 32px,
            43px 32px,
            39.775442px 31.67494px,
            36.772078px 30.74264px,
            34.054248px 29.26745px,
            31.686292px 27.31371px,
            29.732549px 24.94575px,
            28.257359px 22.22792px,
            27.325063px 19.22456px,
            27px 16px,
            27.325063px 12.77544px,
            28.257359px 9.77208px,
            29.732549px 7.05425px,
            31.686292px 4.68629px,
            34.054248px 2.73255px,
            36.772078px 1.25736px,
            39.775442px 0.32506px,
            43px 0);
    transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.option {
    cursor: pointer;
    line-height: 142px;
    text-align: center;
    width: 33.33%;
}

.bar-outer {
    clip-path: polygon(0 0, 120px 0, 120px 32px, 0 32px);
    clip-path: polygon(0 0,
            0 32px,
            104px 32px,
            107.22456px 31.67494px,
            110.22792px 30.74264px,
            112.94575px 29.26745px,
            115.31371px 27.31371px,
            117.26745px 24.94575px,
            118.74264px 22.22792px,
            119.67494px 19.22456px,
            120px 16px,
            119.67494px 12.77544px,
            118.74264px 9.77208px,
            117.26745px 7.05425px,
            115.31371px 4.68629px,
            112.94575px 2.73255px,
            110.22792px 1.25736px,
            107.22456px 0.32506px,
            104px 0);
    height: 32px;
    pointer-events: none;
    transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
}

.bar-outer.pos2 .bar-purple {
    clip-path: polygon(360px 0,
            360px 32px,
            149px 32px,
            145.775442px 31.67494px,
            142.772078px 30.74264px,
            140.054248px 29.26745px,
            137.686292px 27.31371px,
            135.732549px 24.94575px,
            134.257359px 22.22792px,
            133.325063px 19.22456px,
            133px 16px,
            133.325063px 12.77544px,
            134.257359px 9.77208px,
            135.732549px 7.05425px,
            137.686292px 4.68629px,
            140.054248px 2.73255px,
            142.772078px 1.25736px,
            145.775442px 0.32506px,
            149px 0);
}

.bar-outer.pos2 {
    clip-path: polygon(0 0,
            0 32px,
            210px 32px,
            213.22456px 31.67494px,
            216.22792px 30.74264px,
            218.94575px 29.26745px,
            221.31371px 27.31371px,
            223.26745px 24.94575px,
            224.74264px 22.22792px,
            225.67494px 19.22456px,
            226px 16px,
            225.67494px 12.77544px,
            224.74264px 9.77208px,
            223.26745px 7.05425px,
            221.31371px 4.68629px,
            218.94575px 2.73255px,
            216.22792px 1.25736px,
            213.22456px 0.32506px,
            210px 0);
}

.bar-outer.pos3 .bar-purple {
    clip-path: polygon(360px 0,
            360px 32px,
            256px 32px,
            252.775442px 31.67494px,
            249.772078px 30.74264px,
            247.054248px 29.26745px,
            244.686292px 27.31371px,
            242.732549px 24.94575px,
            241.257359px 22.22792px,
            240.325063px 19.22456px,
            240px 16px,
            240.325063px 12.77544px,
            241.257359px 9.77208px,
            242.732549px 7.05425px,
            244.686292px 4.68629px,
            247.054248px 2.73255px,
            249.772078px 1.25736px,
            252.775442px 0.32506px,
            256px 0);
}

.bar-outer.pos3 {
    clip-path: polygon(0 0, 333px 0, 333px 32px, 0 32px);
    clip-path: polygon(0 0,
            0 32px,
            317px 32px,
            320.22456px 31.67494px,
            323.22792px 30.74264px,
            325.94575px 29.26745px,
            328.31371px 27.31371px,
            330.26745px 24.94575px,
            331.74264px 22.22792px,
            332.67494px 19.22456px,
            333px 16px,
            332.67494px 12.77544px,
            331.74264px 9.77208px,
            330.26745px 7.05425px,
            328.31371px 4.68629px,
            325.94575px 2.73255px,
            323.22792px 1.25736px,
            320.22456px 0.32506px,
            317px 0);
}

.bar-outer.left .bar-purple {
    transition-delay: 0;
}

.bar-outer.left {
    transition-delay: 80ms;
}

.bar-outer.right .bar-purple {
    transition-delay: 80ms;
}

.bar-outer.right {
    transition-delay: 0;
}

/* Section de resposta*/

.container_waper{
    margin: 25px auto;
}

.container_discografia figure{
    width: max-content;
    padding: 15px 10px;
    background: var(--sha-shadow-black);
}

.container_waper img {
    max-width: 250px;
    max-height: 250px;
}

/* footer */

section.module.parallax-2 {
    height: 150px !important;
    width: 100%;
}

section.module.parallax-2 {
    background: var(--background-gradient-parallax-footer-page-green);
}

section.module.parallax-2::after {
    content: none;
}