body {
    background: var(--back-background-main);
}

/* Header */

.back-image {
    margin: 0 auto;
    display: block;
}

section.module.parallax {
    display: flex;
    flex-direction: column;
    height: 80vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;

    background: var(--de-detail-orange);
    background-size: cover;
    animation: fadeIn 800ms ease;
}


section.module.parallax::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: var(--background-gradient-parallax);
}

section.module.parallax-2{
    height: 150px !important;
    width: 100%;
}

section.module.parallax-2{
    background: var(--background-gradient-parallax-footer-page);
}

section.module.parallax-2::after{
    content: none;
}

/* Conainer name playlist */

.container {
    padding: 20px;
    border: 0;
    border-radius: 10px;
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--back-background-menu);
    box-shadow: 0 0 20px var(--sha-shadow-white), 0 0 100px var(--sha-shadow-black-menu);
    backdrop-filter: blur(10);
}

.container_playlist {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#imagePlay {
    margin: 0 25px 0 0;
    border: 0;
    border-radius: 10px;
    max-width: 350px;
    width: 100%;
    height: max-content;
}

.container_playlist_header {
    margin: 0 25px 0 25px;
    padding: 0 15px;
    display: block;
}

#namePlaylist {
    font-size: 5em;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: var(--de-detail-orange);
    cursor: default;
}

#creatorPlaylist {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: capitalize;
    letter-spacing: 1px;
}

#creatorPlaylist:hover {
    cursor: pointer;
    text-decoration: underline 2px;
}

/* Main playlist */

main {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_playlist_main{
    padding: 15px 20px;
    border-radius: 10px;
    background: var(--sha-shadow-black-menu);
}

#music-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    list-style-type: none;
}

#music-list li {
    margin: 10px auto;
    padding: 15px;
    border: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 850px;
    background: var(--sha-shadow-black);
    box-shadow: 0 0 10px var(--sha-shadow-black-menu), 0 0 5px var(--sha-shadow-white);
}

.infoMusica {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoMusica_play{
    width: 100vh;
    margin-left: 25px;
}

#music-list li:hover {
    background: var(--sha-shadow-black-menu);
}

#music-list img {
    margin: 0 25px 0 0;
    border: 0;
    border-radius: 10px;
    max-width: 80px;
    width: 100%;
}

.musicnome_playlist {
    margin-bottom: 20px;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: var(--de-detail-green);
}

.nameArtista_playlist {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
}

.buttonPlayInRight {
    position: relative;
}

#buttonPlayMusic {
    padding: 10px;
    border: 0;
    font-size: 24px;
    background: transparent;
    cursor: pointer;
}

.play-icon {
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
    font-size: 35px;
    color: var(--de-detail-green);
    background: var(--sha-shadow-black);
    display: none;
}

.album-container:hover {
    position: relative;
    cursor: pointer;
}

.album-container:hover .play-icon {
    display: block;
}

#buttonSongPlay {
    border: 0;
    border-radius: 100px;
    font-size: 22px;
    background: transparent;
    cursor: pointer;
}

#buttonSongPlay i{
    color: var(--de-detail-green);
}

#buttonSongPlay i:hover{
    color: var(--font);
}

/* footer */

footer {
    height: 150px;
}