/*
 * Page: Home Page
 * UTA - Matheus 29/07
 * código documentado conforme html
 */

body {
    background-color: var(--back-background-main);
    overflow-x: hidden;
}

/* Background Parallax Image*/

.back-image {
    margin: 0 auto;
    display: block;
}

section.module.parallax {
    display: flex;
    flex-direction: column;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;

    background: #d9d9d9 url("") no-repeat;
    background-size: cover;
    animation: fadeIn 800ms ease;
}

section.module.parallax::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to top, var(--back-background-main), rgba(0, 0, 0, 0.552) 12%);
}

/* Main iformations 'main content' */
/* ! camadas a partir da '11' */

.section-main {
    position: relative;
    left: 78px;
    width: calc(100% - 78px);
    z-index: 11;
    transition: all 0.5s ease;
}

.sidebar.open~.back-image .section-main {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
}

.containner_text {
    margin-left: 50px;
    position: absolute;
    top: 75%;
    transform: translateY(-75%);
}

.containner_text h1 {
    margin: 20px 0;
    max-width: 250px;
    font-size: 5em;
    letter-spacing: 5px;
    line-height: 80px;
    text-shadow: 0 0 2px var(--de-detail-orange), 0 0 20px var(--de-detail-orange);
    animation: giveMeDown 750ms linear;
}

.containner_text button {
    padding: 15px 10px;
    border: 2px solid var(--de-detail-green);
    border-radius: 100px;

    font-size: 1.25em;
    background: none;
    cursor: pointer;
    color: var(--de-detail-green);
    box-shadow: 0 2px 2px var(--sha-shadow-black);
    animation: downDown 250ms ease;
    transition: 0.8s;
}

.containner_text button:hover {
    color: var(--font);
    background: var(--de-detail-green);
    box-shadow: 0 0 2px var(--de-detail-green), 0 0 40px var(--de-detail-green);
    transition: 0.4s ease;
}

.containner_text button:active {
    border: 0;
    color: var(--font);
    cursor: progress;
}

/* Músicas || Artistas anteriores */

.containner_anteriores {
    position: relative;
    top: 70%;
    max-width: 650px;
    float: right;
}

.containner_anteriores h2 {
    letter-spacing: 2px;
    line-height: 40px;
    color: var(--de-detail-orange);

    background: linear-gradient(to right, var(--de-detail-orange), var(--de-detail-orange));
    background-size: 40% 0.1em, 0 0.1em;
    background-position: 0 100%, 0 100%;
    background-repeat: no-repeat;
    /* detalhe com o mesmo efeito de 'hr' */

    animation: downDown 500ms ease;
}

.child_anter {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    animation: rightToLeft 750ms linear;
    overflow-x: scroll;
}

.child_anter::-webkit-scrollbar {
    display: none;
}

.child_anter button {
    border: none;
    background: none;
    cursor: pointer;
}

.anteriores img {
    width: 180px;
    height: 270px;
    border: 0;
    object-fit: cover;
    filter: grayscale(80%);
    border-radius: 20px;
    box-shadow: 10px 2px 10px var(--sha-shadow-black);
    transition: 100ms;
}

figure .anteriores .anteriores_name {
    margin: -50% auto;
    padding: 5px 0;
    z-index: 20;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
    color: var(--font);
    visibility: hidden;
}

.child_anter img:hover,
.anteriores:hover .anteriores_name {
    filter: grayscale(0);
    visibility: visible;
    position: relative;
    transform: translateY(-5px);
    transition: 0.5s ease;
}

.child_anter img:hover {
    box-shadow: 0 0 10px var(--sha-shadow-black), 0 0 15px var(--de-detail-green);
}

#afterButton,
#prevButtonAfter {
    margin: 0 15px;
    padding: 2px 5px;
    border: 0;
    z-index: 12;
    font-size: 24px;
    background: none;
    cursor: pointer;
}

#afterButton {
    position: absolute;
    right: 0;
    top: 55%;
}

#prevButtonAfter {
    position: absolute;
    left: -10px;
    top: 50%;
    rotate: 180deg;
}

#afterButton .fi-sr-angle-circle-right {
    color: var(--de-detail-green);
}

#prevButtonAfter .fi-sr-angle-circle-right {
    visibility: hidden;
    color: var(--de-detail-orange);
}

/* Main */

.home-section {
    position: relative;
    left: 78px;
    width: calc(100% - 78px);
    z-index: 11;
    transition: all 0.5s ease;
}

.sidebar.open~.home-section {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
}

.containner-main {
    margin: 5px 0 10px 50px;
}

.name-opitions h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: var(--de-detail-green);
}

.name-opitions hr {
    max-width: 225px;
    height: 3px;
    border: 1px solid var(--de-detail-green);
    border-radius: 0 10px 10px 0;
    background: var(--de-detail-green);
}

.carousel button {
    width: 200px;
    height: 200px;
    margin: 0 10px;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    background: var(--back-background-menu);
}

.songButton {
    border-radius: 10px;
    box-shadow: 0 0 10px var(--sha-shadow-white);
    transition: 100ms;
}

.carousel button:hover {
    transform: scale(1.05);
    transition: 250ms;
}

.songButton:hover {
    box-shadow: 0 0 10px var(--de-detail-green);
    transition: 250ms;
}

button .songButton:active {
    box-shadow: 0 0 10px var(--de-detail-purple), 0 0 20px var(--de-detail-orange);
}

.wrapper {
    height: 230px;
    margin: 20px 0 25px;
    display: flex;
    position: relative;
}

.wrapper i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 35px;
    width: 35px;
    color: var(--de-detail-green);
    cursor: pointer;
    font-size: 1.15rem;
    text-align: center;
    line-height: 35px;
    background: var(--de-detail-green-sha-shadow);
    border-radius: 50%;
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
    background: #f2f2f2;
}

.wrapper i:first-child {
    left: -22px;
    display: none;
}

.wrapper i:last-child {
    right: 22px;
}

.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: max-content;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: 200px;
}

.carousel img:first-child {
    margin-left: 0px;
}


/* Main container Artist */

.container_artistas_grid {
    margin: 25px 30px 0 25px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    overflow-x: visible;
}

.container_artistas_grid button{
    background: none;
    border: 0;
}

.sidebar.open~.container_artistas_grid {
    grid-template-columns: repeat(6, 1fr);
}

.fig_artistas img {
    margin: 0 20px;
    border: 0;
    border-radius: 100px;
    max-width: 150px;
    height: 150px;
    object-fit: cover;
    filter: brightness(50%);
    cursor: pointer;
    transition: 200ms;
}

.fig_artistas img:hover,
.fig_artistas:hover .fig_artistas_toopkit {
    filter: brightness(100%);
    box-shadow: 0 0 5px var(--de-detail-green), 0 0 25px var(--de-detail-green);
}

.fig_artistas:hover .fig_artistas_toopkit {
    box-shadow: none;
}

.fig_artistas_toopkit {
    margin: 10px auto;
    text-align: center;
    filter: brightness(50%);
}

/* Animations das playlists */


/* Animations da main */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes giveMeDown {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}

@keyframes downDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

@keyframes rightToLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
        filter: blur(4px);
    }

    100% {
        opacity: 100;
        transform: translateX(0);
        filter: blur(0);
    }
}

@keyframes bluBlur {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

/* footer */

section.module.parallax-2 {
    height: 150px !important;
    width: 100%;
}

section.module.parallax-2 {
    background: var(--background-gradient-parallax-footer-page-purple);
}

section.module.parallax-2::after {
    content: none;
}

/* Media */

@media screen and (min-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 425) {}