header {
    width: 100%;
    height: 60px;
    z-index: 10;
}

.section-header {
    margin: 15px;
    padding: 15px 10px;
    position: relative;
    left: 78px;
    width: calc(100% - 78px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: all;
    transition: all 0.5s ease;
}

.sidebar.open~.back-image .section-header {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
}

.section-header #logo {
    margin-left: 20px;
    display: inline-block;

    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 34px;
    color: var(--font);
    transition: 0.8s;
    cursor: pointer;

    background:
        linear-gradient(to right, rgba(255, 255, 255, 0), rgba(100, 200, 200, 0)),
        linear-gradient(to right, var(--de-detail-green), var(--de-detail-green));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 70%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;

    /* @param background - linha abaixo da logo para :hover para clique*/

    animation: fadeIn 1s ease;
    transition: 0.5s;
}

#logo:hover,
#logo:focus {
    color: var(--de-detail-green);
    background-size: 0 0.1em, 100% 0.1em;
    transition: 0.3s;
}

.header_list {
    display: flex;
    align-items: center;
}

#level_user {
    padding: 8px 12px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, var(--back-background-main) 79%, transparent 80% 100%),
        conic-gradient(var(--de-detail-purple), var(--sha-shadow-black) 0);
    transition: 300ms;
    cursor: pointer;
    background-size: cover;
}

@keyframes gradientAnimation {
    0% {
        background: radial-gradient(closest-side, var(--back-background-main) 79%, transparent 80% 100%),
            conic-gradient(var(--de-detail-purple) 0%, var(--sha-shadow-black) 0deg);
    }

    100% {
        background: radial-gradient(closest-side, var(--back-background-main) 79%, transparent 80% 100%),
            conic-gradient(var(--de-detail-purple) 100%, var(--sha-shadow-black) 0deg);
    }
}

.header-list #level_user:hover {
    padding: 10px 14px;
    box-shadow: 0 0 10px var(--sha-shadow-white), 0 0 50px var(--de-detail-purple), 0 0 100px var(--sha-shadow-black)
}

.header-list a,
.header-list #level_user {
    margin-left: 25px;
}

.header-list a {
    font-size: 16px;
    text-decoration: none;
}

.header-list a:last-child {
    margin-right: 50px;
}

.header-list .menu-icon {
    color: var(--font);
    filter: drop-shadow(0 0 10px var(--sha-shadow-white));
    animation: fadeIn 1s ease;
    transition: 0.8s;
}

.header-list .menu-icon:hover {
    color: var(--de-detail-green);
    text-shadow: 0 0 10px var(--sha-shadow-white), 0 0 50px var(--de-detail-green);
    transition: 0.5s;
}


/* header-list lateral */
.sidebar {
    border-radius: 10px;
    margin: 10px;
    position: fixed;
    left: 0;
    top: 0;
    height: 80%;
    width: 78px;
    background: var(--sha-shadow-black);
    backdrop-filter: blur(10px);
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}


.sidebar .logo-details .logo_name {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 20px;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_img {
    opacity: 0;
    width: 40px;
    transition: all 0.5s ease;
    animation: upInDown 5s ease infinite;
}

@keyframes upInDown {

    0%,
    100% {
        transform: translateY(0);
        rotate: 0;
    }

    25% {
        transform: translateY(5px);
    }

    75% {
        transform: translateY(-5px);
        rotate: 5deg;
    }
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_img {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: #ffffff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #ffffff;
    color: var(--de-detail-purple);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar input {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
}

.sidebar input::placeholder {
    color: #ffffff;
}

.sidebar.open input {
    padding: 0 0 0 50px;
    width: 100%;
    opacity: 1;
    pointer-events: all;
    background: none;
}

.sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    color: #ffffff;
}

.sidebar.open .bx-search:hover,
.sidebar input:hover::placeholder {
    color: var(--de-detail-purple);
}

.sidebar .bx-search:hover {
    color: var(--de-detail-purple);
}

.sidebar .bx-heart {
    background: linear-gradient(180deg, rgba(174, 68, 84, 1) 50%, rgba(69, 25, 82, 1) 100%);
    transition: 500ms;
}

.sidebar .bx-plus {
    background: linear-gradient(180deg, rgba(109, 165, 192, 1) 50%, rgba(7, 46, 51, 1) 100%);
    transition: 500ms;
}

.sidebar.open .bx-plus,
.sidebar.open .bx-heart {
    background: none;
    transition: 500ms;
}

.sidebar .bx-plus:hover,
.sidebar .bx-heart:hover {
    color: #ffffff;
}

.sidebar li.exit {
    position: absolute;
    bottom: 10px;
    width: 50px;
}

.sidebar.open li.exit {
    width: 90%;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar li a:hover {
    background: #ffffff;
}

.sidebar li a .links_name {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: var(--de-detail-purple);
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

@media screen and (max-width: 426px) {
    .sidebar {
        display: none;
    }
}


@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}

/* Media */

@media screen and (max-width: 768px) {
    #logo {
        margin-left: 200px;
    }
}

@media screen and (max-width: 500px) {
    #logo {
        margin-left: 10px;
    }
}