//Normal mode

$backColor: #121212; //Background
$playerDetailsColor: #4B0072; //Detalhe
$details: #CB8E00; //Detalhe

//Dark Mode

$backDark: #121212; // Background
$playerDetailDark: #1b1b1b; // Detalhe
$darkDetails: #363636; // Detalhe