body {
    font-family: 'Montserrat', sans-serif;
    background: var(--background-all);
}

/* Criando o efieto de parallax*/

main {
    margin: 0 auto;
    display: block;
}

main.module {
    display: flex;
    flex-direction: column;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;

    background-size: cover;
    animation: fadeIn 300ms ease;
    background: linear-gradient(to bottom, var(--secondary), var(--terciary));
}

nav {
    width: 100%;
    height: 80px;
}

.details {
    margin: 0 50px;
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details .detail-logo label {
    font-size: 2em;
    line-height: 34px;
    transition: 0.8s;
    cursor: pointer;

    background:
        linear-gradient(to right, rgba(255, 255, 255, 0), rgba(100, 200, 200, 0)),
        linear-gradient(to right, var(--white), var(--white));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 70%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;

    animation: fadeIn 1s ease;
    transition: 0.5s;
}

.details .detail-logo label:hover,
.details .detail-logo label:focus,
.details .detail-menu .nav-menu:hover,
.details .detail-menu .nav-menu:focus {
    background-size: 0 0.1em, 100% 0.1em;
    transition: 0.3s;
}

.details .detail-menu .nav-menu {
    margin: 0 15px;
    font-size: 1.15em;
    letter-spacing: 1px;
    text-decoration: none;

    transition: 0.8s;
    cursor: pointer;

    background:
        linear-gradient(to right, rgba(255, 255, 255, 0), rgba(100, 200, 200, 0)),
        linear-gradient(to right, var(--white), var(--white));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 70%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;

    animation: fadeIn 1s ease;
    transition: 0.5s;
}

.details .detail-menu .nav-menu.entrarButton {
    padding: 10px 25px;
    border: 2px solid var(--white);
    border-radius: 50px;
    background: transparent;
    background-position: 0;
    background-size: initial;
}

.details .detail-menu .nav-menu.entrarButton:hover {
    background: var(--white);
    color: var(--secondary);
}

.containner {
    position: absolute;
    left: 20%;
    top: 60%;
    transform: translate(-20%, -60%);
    display: flex;
    justify-content: start;
    flex-direction: column;
    animation: fadeIn 300ms;
}

img.astrounaut {
    width: 450px;
    position: absolute;
    left: 75%;
    top: 50%;
    transform: translate(-75%, -50%) rotate(-25deg);
}

img.img_logo {
    position: absolute;
    top: -225px;
    left: -70px;
}

.containner_info {
    margin: 15px 0;
    max-width: 350px;
}

.containner_info h2,
.containner_info h3 {
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 5px var(--shadow-shadow);
}

.wrapper {
    box-sizing: content-box;
    height: 70px;
    display: flex;
    border-radius: 8px;
}

.words {
    overflow: hidden;
}

.words span {
    padding-left: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--secondary);
    animation: spin_words 15s infinite;
}

@keyframes spin_words {
    10% {
        transform: translateY(-120%);
    }

    25% {
        transform: translateY(-110%);
    }

    35% {
        transform: translateY(-220%);
    }

    50% {
        transform: translateY(-210%);
    }

    60% {
        transform: translateY(-320%);
    }

    75% {
        transform: translateY(-310%);
    }

    85% {
        transform: translateY(-420%);
    }

    90% {
        transform: translateY(-410%);
    }

    100% {
        transform: translateY(-10%);
    }
}

/* Buttons */

.sing {
    padding: 10px;
    margin-right: 10px;
    border-radius: 100px;
    width: 150px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}

#entrar {
    background: transparent;
    border: 2px solid var(--white);
    transition: 300ms;
}

#entrar:hover {
    transform: translateY(-10px);
    background: var(--white);
    color: var(--secondary);
    transition: 500ms;
}

#cadastrar {
    background: var(--secondary);
    border: 0;
    color: var(--font-all);
    transition: 300ms;
}

#cadastrar:hover {
    transform: translateY(-10px);
    transition: 500ms;
}

/* Sreen */
@media screen and (max-width:450px) {
    main {
        left: 50%;
    }

    .buttons {
        flex-direction: column;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}