/* Player Fullscreen */

body.fullscreen {
    background: var(--back-background-main);
    overflow-y: hidden;
}

.containner_player.fullscreen {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.player.fullscreen {
  margin: 50px;
  padding: 20px 15px;
  border-radius: 20px;
  z-index: 40;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px var(--sha-shadow-white), 0 0 35px var(--sha-shadow-white);
}

.player-faixa-detail.fullscreen {
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.player_image.fullscreen {
  margin: 0 25px;
}

.player_image.fullscreen #imgSong {
  border: 0;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
}

.player_infoMusic.fullscreen {
  margin: 0 5px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.player_infoMusic.fullscreen #musicName {
  font-size: 3em;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: var(--de-detail-green);
}

.player_infoMusic.fullscreen #artistName {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  text-decoration: underline;
  text-transform: capitalize;
}

/* Controls */

.player-controls.fullscreen {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.controls.fullscreen {
  width: max-content;
  margin: 0 25px;
  padding: 10px;
  color: var(--font-detail);
}

.controls button.fullscreen,
#heartMusic,
#randomPlayerMusic {
  border: none;
  background: transparent;
  cursor: pointer;
}

#heartMusic i,
#randomPlayerMusic i {
  font-size: 1.5em;
  color: var(--font-detail);
}

.controls i.fullscreen {
  margin: 0 5px;
  font-size: 50px;
  padding: 5px;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.2s;
}

.controls i:hover,
#heartMusic i:hover,
#randomPlayerMusic i:hover {
  color: var(--de-detail-orange);
}

#playPauseButton i {
  color: var(--de-detail-green);
  background: var(--sha-shadow-black);
}

/* Timecode player */

.footer.fullscreen {
  margin: 10px auto;
  width: 100%;
}

.timecode_player.fullscreen {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.progress-bar.fullscreen {
  width: 80%;
  height: 5px;
  background: var(--sha-shadow-black);
  box-shadow: 0 0 5px var(--sha-shadow-white), 0 0 20px var(--back-background-menu);
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: 150ms;
}

.progress.fullscreen {
  position: relative;
  top: -1px;
  height: 7px;
  background: var(--de-detail-green);
  border-radius: 15px;
  transition: 150ms;
}

.progress.fullscreen:hover {
  background: var(--sha-shadow-white);
}

#duration,
#currentTime {
  font-family: "Montserrat", sans-serif;
  font-size: 0.6em;
  letter-spacing: 1px;
  text-align: center;
  line-height: normal;
  color: var(--font-detail);
}

/* Next Songs */
.container_faixas_detalhes.fullscreen {
  margin: 10px;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 450px;
  width: 100%;
  position: absolute;
  right: 5%;
  top: 10%;
  background: var(--sha-shadow-black-menu);
}

#upcomingSongsList {
  list-style-type: none;
}

#upcomingSongsList li {
  margin: 10px 0;
}

.Songlits.fullscreen {
  display: flex;
  align-items: center;
  filter: contrast(50%);
  cursor: pointer;
}

.Songlits.fullscreen:hover {
  filter: contrast(100%);
}

.Songlits.fullscreen img {
  border-radius: 5px;
  width: 50px;
}

.Songlist-details.fullscreen {
  margin: 0 15px;
}

.Songlist-details.fullscreen h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize;
  color: var(--font-detail);
}

.Songlist-details.fullscreen p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7em;
  text-align: left;
  text-transform: capitalize;
  color: var(--de-detail-green);
}

/* Others */

.containner_more.fullscreen {
  margin: 25px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#fullScreen {
  rotate: 180deg;
  border: 0;
  font-size: 16px;
  background: none;
  transition: 750ms;
  cursor: pointer;
}

.fi-rr-menu-burger.fullscreen {
  display: none;
}

/* Volume */

.volume-button.fullscreen {
  display: flex;
  align-items: center;
}

#volumeButton {
  padding: 5px;
  border: 0;
  font-size: 1em;
  line-height: 0;
  background: transparent;
  cursor: pointer;
  transition: 500ms;
}

.fi-ss-volume-mute.fullscreen {
  color: var(--sha-shadow-black);
  transition: 500ms;
}

/*********** Baseline, reset styles ***********/
input[type="range"].fullscreen {
  margin: 0 10px;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  box-shadow: 0 0 5px var(--sha-shadow-white), 0 0 20px var(--back-background-menu);

}

input[type="range"].fullscreen:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"].fullscreen::-webkit-slider-runnable-track {
  background: var(--sha-shadow-black);
  border-radius: 0.3rem;
  height: 0.3rem;
}

/* slider thumb */
input[type="range"].fullscreen::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -3px;
  background-color: var(--font-detail);
  border-radius: 0.5rem;
  height: 0.6rem;
  width: 0.6rem;
}

input[type="range"].fullscreen:hover::-webkit-slider-thumb {
  background-color: var(--de-detail-green);
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"].fullscreen::-moz-range-track {
  background: var(--sha-shadow-black);
  border-radius: 0.3rem;
  height: 0.3rem;
}

/* slider thumb */
input[type="range"].fullscreen::-moz-range-thumb {
  background-color: var(--font-detail);
  border-radius: 0.5rem;
  border: none;
}